<div class="product-list-container">
  <div class="product-item">
      <img src="https://freeimage.host/i/JsPHyMX" alt="Product 1">
      <h2>Product 1</h2>
      <p class="price">$49.99</p>
  </div>
  <div class="product-item">
      <img src="https://freeimage.host/i/JsPJJFs" alt="Product 2">
      <h2>Product 2</h2>
      <p class="price">$59.99</p>
  </div>
  <div class="product-item">
      <img src="https://freeimage.host/i/JsPJ9Pn" alt="Product 3">
      <h2>Product 3</h2>
      <p class="price">$69.99</p>
  </div>
</div>
